<div>
  <h1 class="font-bold text-4xl">Author#index</h1>
  <p>Find me in app/views/author/index.html.erb</p>
  <%= render(FilterFormComponent.new(url: request.path, method: :get)) %>
  <% @authors.each do |author| %>
    <%= render partial: 'users/user', locals: { user: author } %>
  <% end %>
</div>
